* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(29, 27, 27);;
}


.container {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: relative;
}


.gameInterface {
    height: 45%;
    width: 45%;
    position: absolute;
    background: white;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 25px solid rgb(29, 27, 27);
    display: flex;
    align-items: center;
    flex-direction: column;
} 

.gameTitle {
   margin: 10px;
   padding: 30px 15px 0 15px;
   background: rgb(29, 27, 27);
   color: white;
   border-radius: 50% 50% 0 0 / 100% 100% 0 0;
   font-size: 48px;

}


.yellow {
    background: yellow;
    top: 0;
    left: 0;
    border-top-left-radius: 100%;
    border: 8px solid rgb(240, 240, 0);
}

.red {
    background: rgb(255, 17, 17);
    top: 0;
    right: 0;
    border-top-right-radius: 100%;
    border: 8px solid rgb(245, 0, 0);
}

.blue {
    background: rgb(34, 34, 255);
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 100%;
    border: 8px solid rgb(0, 0, 255);
}

.green {
    background: rgb(0, 214, 0);
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 100%;
    border: 8px solid rgb(0, 230, 0);;
}

.simonBtn {
    width: 48%;
    height: 48%;
    position: absolute;
    transition: all .4s ease-in-out;
    filter: brightness(75%);
}

.simonBtn button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    
}

.start, .restart {
    margin: 13px 0;
    padding: 7px;
    background-color: white;
    border: 1px solid rgb(29, 27, 27);
    border-radius: 10px;
    
}

.score {
    font-family: 900;
    font-size: 32px;
}

.clicked {
    transform: scale(101%);
    filter:  blur(2px) brightness(100%);
}

.lostInfo {
    color: red;
}

.winInfo {
    color: rgb(0, 219, 0);
}

.waitInfo {
    background: rgb(255, 242, 0);
    color: rgb(29, 27, 27);
}

.hidden {
    display: none;
}
